doctype html
html
  head
    title= 'Demo!'
    script(src="https://code.iconify.design/1/1.0.2/iconify.min.js")
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js')
    script.
      let alertInterval = null;

      $(document).ready(() => {
        updatePipelines();

        $("#trigger-button").click(() => {
          $.post("https://gitlab.com/api/v4/projects/12162922/trigger/pipeline", {
            ref: "master",
            token: "dd07ed7117e8c1f96fe43f1ff15039"
          }, result => {
            updatePipelines();
          })
        });

        
        $(document).on('click', '.retrigger-button', (event) => {
          event.preventDefault()
          $.get(window.location.origin + "/retry-pipeline?pipeline_id=" + event.target.id, result => {
            updatePipelines();
          })
        })
        
        
        
        $(document).click( () => {
          $(".card").remove()
        })

        $(".dot-area").on('click', '.dot', (event) => {
          event.preventDefault()
          $.get(window.location.origin + "/pipeline-jobs?pipeline_id=" + event.target.id, result => {
            total_stages = result.length
            completed_stages = 0;
            result.forEach(job => {
              if(job.status == 'success'){
                completed_stages += 1
              }
            })

            status = result[0].status.charAt(0).toUpperCase() + result[0].status.slice(1)
            stages = completed_stages + "/" + total_stages
            commit_message = result[0].commit.message
            // TODO fix offset for infocard from dot
            left = parseInt(event.target.style.left, 10)

            if (left > $(window).width() / 2){
              left -= 288;
            } else {
              left += 30
            }

            let infocard = 
                '<div class="card bg-light mb-3" \
                  style="max-width: 18rem; position: absolute; left:'+ left + 'px; top:' + event.target.style.top + ';"> \
                  <div class="card-header"><b>'+ status +'</b></div> \
                  <div class="card-body"> \
                    <p class="card-text"><b>completed stages:</b> '+ stages +'</p> \
                    <p class="card-text"><b>commit:</b> '+ commit_message +'</p> \
                    <button id="' + event.target.id + '" class="retrigger-button" type="button">Run Pipeline Again</button>\
                    <a target="_blank" style="float: right" href="https://gitlab.com/felixkollin/auto-devops-demo/pipelines/' + event.target.id + '">\
                      <span class="iconify" data-icon="simple-icons:gitlab" data-inline="false"></span>\
                    </a>\
                  </div> \
                </div> '
              $("body").append(infocard)
          })
        })
      });

      const getClass = status => {
        switch(status){
          case 'running':
            return 'dot loader'
          default:
            return 'dot'
        }
      }

      const getColor = status => {
        switch(status){
          case 'running':
            return 'blue'
          case 'pending':
            return 'orange'
          case 'success':
            return 'green'
          case 'failed':
            return 'red'
          case 'canceled':
            return 'black'
          case 'skipped':
            return 'gray'
        }
        return 'pink'
      }

      const isOverlapping = (dotA, dotB, height) => {
        const dotASize = parseFloat(dotA.style.width);
        const dotAX = parseFloat(dotA.style.left);
        const dotAY = height - parseFloat(dotA.style.top);

        const dotBSize = parseFloat(dotB.style.width);
        const dotBX = parseFloat(dotB.style.left);
        const dotBY = height - parseFloat(dotB.style.top);

        const xMin1 = dotAX;
        const xMax1 = dotAX + dotASize;

        const yMin1 = dotAY - dotASize;
        const yMax1 = dotAY;

        const xMin2 = dotBX;
        const xMax2 = dotBX + dotBSize;

        const yMin2 = dotBY - dotBSize;
        const yMax2 = dotBY;

        if (yMax1 < yMin2 || yMin1 > yMax2){
          return false;
        }
        if(xMax1 < xMin2 || xMin1 > xMax2) {
          return false;
        }
        return true;
      }

      const updatePipelines = () => {
        var windowWidth = $('.dot-area').width()
        var windowHeight = $('.dot-area').height()
        $.get(window.location.origin + "/pipelines", result => {
          let i = 0;
          result.forEach(pipeline => {

            let updated = false
            const dotSize = Math.min(Math.max(5, 100/i), 150) + 'px';

            $.each($('.dot'), (index, dot) => {
              if (pipeline.id == dot.id) {
                // Easter egg! If a pipeline state changes to failed
                // - Make the background red
                // - Change the message to "Red Alert: Man all battle stations!"                
                if (pipeline.status === 'failed' && dot.style.backgroundColor != getColor('failed')) {
                  if (alertInterval === null) {
                    alertInterval = setInterval(() => {
                      $("body").toggleClass("alerting");
                      console.log('You found the easter egg! Sick, hackerman')
                      var audio = new Audio('https://sampleswap.org/samples-ghost/SOUND%20EFFECTS%20and%20NOISES/Alarm%20Sounds/68[kb]Car_Alarm_Small.aif.mp3');
                      audio.play();
                      $('.message-container').html("Red Alert: Man all battle stations");
                    }, 500);
                    setTimeout(() => {
                      clearInterval(alertInterval);
                      alertInterval = null;
                      $("body").removeClass('alerting');
                      $('.message-container').html("Pipeline Dashboard");
                    }, 10000);
                  }
                }
                // Update dot
                dot.className = getClass(pipeline.status)
                dot.style.backgroundColor = getColor(pipeline.status)
                dot.style.height = dotSize;
                dot.style.width = dotSize;
                updated = true
                return false
              }
            });

            if (!updated) {
              // New dot
              let newDot = document.createElement('div');
              newDot.setAttribute("id", pipeline.id)
              newDot.className = getClass(pipeline.status)
              newDot.style.backgroundColor = getColor(pipeline.status);
              newDot.style.height = dotSize;
              newDot.style.width = dotSize;

              let conflict = true;
              let tries = 0;
              while(conflict && tries < 50) {
                newDot.style.left = windowWidth * Math.random() + 'px';
                newDot.style.top = windowHeight * Math.random() + 'px';
                
                conflict = false;
                $.each($('.dot'), (i, existingDot) => {
                  if (isOverlapping(existingDot, newDot, windowHeight)) {
                    conflict = true;
                    return false;
                  }
                })
                tries++;
              }

              $('.dot-area').append($(newDot))
            }

            i++
          })
        });
      }

      setInterval(() => {
        updatePipelines();
      }, 3000);

  body
    div.dot-area#area
    div.button-container
      button#trigger-button(
        type='button'
      ) Run Latest Pipeline
    div.message-container Pipeline Dashboard