extends layout

block content
      div.text-center
            form(class="form-signin" method="POST" action="/login")
      
                  input(type="username" name="username" id="inputUsername" class="form-control" placeholder="Gitlab username" required autofocus)
                  
                  input(type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required)
                  
                  button(class="form-control" type="submit" id="login-button") Sign in