body {
  padding-top: 40px;
  padding-bottom: 40px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
body.alerting {
  background-color: red;
}

a {
  color: #00B7FF;
}


.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.dot {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  position: absolute;
  transition: all 0.3s ease-in-out;
}
.dot:hover {
  transform: scale(1.1, 1.1);
  background-color: purple !important;
  -webkit-box-shadow: 0px 0px 15px 5px rgba(128, 128, 128, 0.65);
  -moz-box-shadow: 0px 0px 15px 5px rgba(128, 128, 128, 0.65);
  box-shadow: 0px 0px 15px 5px rgba(128, 128, 128, 0.65);
}

.loader {
  border: 10px solid #f3f3f3;
  border-radius: 50%;
  border-top: 10px solid #3498db;
  width: 35px;
  height: 35px;
  animation: spin 3s ease-in-out infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.dot-area {
  height: 1000px;
  width: 100%;
  padding: 10px;
}

.retrigger-button {
  background-color: #4ac43e;
  color: white;
  border-radius: 20px;
  text-decoration: none;
  font-size: 16px;
  text-align: center;
  border: none;
  padding: 16px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.retrigger-button:hover{background-color:#6eef62;}
.retrigger-button:focus{
  background-color:#6eef62;
  outline: 0;
}

.button-container {
  text-align: center;
  padding-top: 100px;
  position: relative;
}

#trigger-button {
  background-color: #4ac43e;
  color: white;
  border-radius: 30px;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  border: none;
  padding: 20px;
}

#trigger-button:hover{background-color:#6eef62;}
#trigger-button:focus{
  background-color:#6eef62;
  outline: 0;
}

.message-container {
  padding: 15px;
  font-size: 30px;
  font-weight: bold;
  position: absolute;
  top: 0;
  right: 0;
}